
        
   
    
  
  
     <div class="wrapper">
           
            <form  #userlogin="ngForm" (ngSubmit)="loginAdmin()"  >
              <div > 
                <h1 style="text-align: center; font-family: 'Bad Script', cursive;">Admin Login </h1>
                <label>Username</label>
                <input type="text" class="form-control"  name="uname" #uname="ngModel" [(ngModel)]="user.uname"  required/>
                 <small class="text-danger" [class.d-none]="uname.touched">This Field is required</small> 
                </div>
              <div>
                <label>Password</label>
                <input type="password"  class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required/>
                <small class="text-danger" [class.d-none]="password.touched">This Field is required</small> 
                </div>
              
              <button type="submit" class="btn btn-success float-right" [disabled]="userlogin.form.invalid">Login</button>
            
            </form>                             
          </div>
          
        