
 body{
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    font-family : Poppins;
    background-attachment: fixed;
  }
  .wrapper{
    width: 400px;
    height: 540px;
    color:  #000;
    top:  55%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
  }