<div class="header">
<mdb-carousel [isControls]="true" [animation]="'slide'">
    <mdb-carousel-item>

      <img class=" w-100 p-3" src="../../assets/images/b1.jpg" alt="First slide">
      <div class="head"><h1>Find Your<br>Next Match</h1></div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="w-100 p-3" src="../../assets/images/mercedes.jpg" alt="Second slide">
    </mdb-carousel-item>
    <!-- <mdb-carousel-item>
      <img class="w-100 p-3" src="../../assets/images/th (1).jpg" alt="Third slide">
    </mdb-carousel-item>  -->
  </mdb-carousel> 
 </div> 
<section>
        
  <h1>Come and See what we offer</h1>
  <p>The new way to buy a car<br>search over trending vehicles<br>get a real offer for<br>test drive to comfort  your dream journey</p>
</section> <div class="jumbotron">
  <div class="row">
    <h1>Trending Near You</h1>
  <div class="col-lg-4 col-md-6 mb-4"> 

    <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/411188985" allowfullscreen></iframe>
</div></div>
<div class="col-lg-4 col-md-6 mb-4">
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/414625058" allowfullscreen></iframe>
</div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/482663822" allowfullscreen></iframe>
</div>
</div>
</div></div><footer class="set"> Copyright@Motocart.in2021</footer>